{% extends 'base.html' %}
{% block title %} StealthPortal {% endblock title %}
{% block content %}
<form method="post" class="p-2 mt-2"  id="connect-form">
    <div class="logo">
        <img src="{{url_for('static', filename='images/logo.jpg')}}" alt="">
    </div>
    <div class="text-center mt-4 name">
        Connect To Device
    </div>
  <p id='user-code' align="center">{{code}}</p>
  <div class="form-field d-flex align-items-center">
    <span class="fas fa-key"></span>
    <input type="text" placeholder="Enter Secret Key" name="code" id="code-input" />
  </div>
    <button class="btn mt-3" type="submit" id="connect-btn">Connect</button>
</form>

<form method="post" class="p-3 mt-3" id="message-form" data-code="">
    <div class="logo">
        <img src="{{url_for('static', filename='images/logo.jpg')}}" alt="">
    </div>
    <div class="text-center mt-4 name">
        Send Message
    </div>
  <p id="code-value" align="center"></p>
  <div class="form-field d-flex align-items-center">
    <input type="text" placeholder="Type your message..." name="message" id="message-input" />
  </div>
    <button class="btn mt-3" type="submit" name="send">Send</button>
</form>
<br/>

<!-- Message box for displaying server messages -->
<div id="message-box" class="hidden"></div>
<div style="clear:both;"></div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
    console.log("DOM content loaded");

    // Hide message-form initially
    document.getElementById("message-form").classList.add("hidden");

    let userCode = document.getElementById("user-code").textContent; // Use textContent instead of value
    const socket = io();

    // Declare codeInput variable
    let codeInput;

    socket.on('connect', function(data) {
        socket.emit('handshake', { code: userCode });
    });

    // Add event listener to connect-form after DOM content is loaded
    document.getElementById("connect-form").addEventListener("submit", function(event) {
        event.preventDefault(); // Prevent the form from submitting normally

        codeInput = document.getElementById("code-input").value; // Set codeInput value

        // Emit event to server with the submitted code
        socket.emit("user-join", { code: codeInput });
    });

    // Handle user-join-response event from the server
    socket.on("user-join-response", function(data) {
        if (data.status === "Correct") {
            let room_code = data.room_code
            // Hide connect-form and show message-form
            document.getElementById("code-value").textContent = room_code;
            document.getElementById("connect-form").classList.add("hidden");
            document.getElementById("message-form").classList.remove("hidden");
        } else if (data.status === "SelfCode") {
            alert("Can't Use Your Own Code");
        } else if (data.status === "Incorrect") {
            alert("Wrong Code!!!");
        }
    });

    socket.on("user-left-response", function(data) {
        if (data.members === "Reset") {
            location.reload();
            alert("You are the only one left. Portal Closed.");
        }
    });

    // Add event listener for message-form submit
    document.getElementById("message-form").addEventListener("submit", function(event) {
        event.preventDefault(); // Prevent the form from submitting normally

        const sendMessage = () => {
            const message = document.getElementById("message-input").value.trim();
            if (message === "") return;

            var secretKey = generateRandomNumber(32);
            var aesKey = CryptoJS.enc.Base64.parse(secretKey);
            var ivGen = Array.from({length: 16}, () => Math.floor(Math.random() * 10)).join('');
            console.log("secretKey",secretKey);
            console.log("ivGen",ivGen);
            var iv = CryptoJS.enc.Utf8.parse(ivGen);
            var encryptionOptions = {
                iv: iv,
                mode: CryptoJS.mode.CBC
            };
            var encryptedMessage = CryptoJS.AES.encrypt(message, aesKey, encryptionOptions).toString();
            console.log(aesKey);
            console.log("Encrypted Message: ", encryptedMessage)
            var publicKey = forge.pki.publicKeyFromPem('-----BEGIN PUBLIC KEY-----\n'+
                'MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQC/EqD04Y7XKJleTYDL9N7noeU2\n'+
                'q4fF0h9d1/8W25pZwFi+yhXWAsH/If8J02M5EuEdvI/y7dqa8f0EyQ3ceuRmIs7q\n'+
                '5SkDfueh3DgiEfJm2edYG5+k28klJCplZ7BwApkZgJZTBHPHt67yoHtcjFpbkpAF\n'+
                'fKCRwqLOCVT8+czrWwIDAQAB\n'+
                '-----END PUBLIC KEY-----');

            var encryptedKey = publicKey.encrypt(secretKey, "RSA-OAEP", {
                md: forge.md.sha256.create(),
                mgf1: forge.mgf1.create()
            });
            var base64 = forge.util.encode64(encryptedKey);
            code = document.getElementById("code-value").textContent
            console.log("Code: ", code)
            console.log("Encrypted Key: ", base64)
            socket.emit("send_message", { message: encryptedMessage, key: base64, iv: ivGen, code: code});
            message.value = "";
        };

        sendMessage();

    });

    socket.on("receive_message", function(data) {
        // Unhide the message box
        document.getElementById("message-box").classList.remove("hidden");
        // Append the received message to the message box
        document.getElementById("message-box").innerHTML += "<p>" + data.message + "</p>";
    });


});

function generateRandomNumber(length) {
    var result = '';
    var characters = '0123456789abcdef';
    var charactersLength = characters.length;
    for (var i = 0; i < length; i++) {
        result += characters.charAt(Math.floor(Math.random() * charactersLength));
    }
    return result;
}
</script>
{% endblock content %}
